{% extends "startpage/base.html" %}
{% load static %}

{% block content %}
  
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <br><br>
                <table>
                    <tr>
                      <th>Code</th>
                      <th>Name</th>
                    </tr>
                    {% for row in data %}
                        <tr>
                            <td>{{ row.code }}</td>
                            <td>{{ row.name }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <a href="{% url 'startpage:itemForm' %}">Add Item</a>
        </div>
    </div>

{% endblock %}